.mstheme
{
	separator-image: url(bluhorsa.gif);
	list-image-1: url(blubul1a.gif);
	list-image-2: url(blubul2a.gif);
	list-image-3: url(blubul3a.gif);
	nav-banner-image: url(blubanna.gif);
	navbutton-horiz-normal: url(geomhbuda.gif);
	navbutton-horiz-hovered: url(geomhbuha.gif);
	navbutton-horiz-pushed: url(geomhbusa.gif);
	navbutton-vert-normal: url(bluvbuda.gif);
	navbutton-vert-hovered: url(bluvbuha.gif);
	navbutton-vert-pushed: url(bluvbusa.gif);
	navbutton-home-normal: url(bluhomda.gif);
	navbutton-home-hovered: url(bluhomha.gif);
	navbutton-home-pushed: url(bluhomsa.gif);
	navbutton-next-normal: url(blunexda.gif);
	navbutton-next-hovered: url(blunexha.gif);
	navbutton-next-pushed: url(blunexsa.gif);
	navbutton-prev-normal: url(blupreda.gif);
	navbutton-prev-hovered: url(blupreha.gif);
	navbutton-prev-pushed: url(blupresa.gif);
	navbutton-up-normal: url(bluupda.gif);
	navbutton-up-hovered: url(bluupha.gif);
	navbutton-up-pushed: url(bluupsa.gif);
}
.mstheme-bannertxt
{
	font-family: Century Gothic, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
ul
{
	list-style-image: url('blubul1a.gif');
}
ul ul
{
	list-style-image: url('blubul2a.gif');
}
ul ul ul
{
	list-style-image: url('blubul3a.gif');
}
a:link
{
	color: rgb(0, 0, 255);
}
a:active
{
	color: rgb(0, 0, 102);
}
a:visited
{
	color: rgb(181, 0, 181);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(51, 102, 255);
	table-border-color-dark: rgb(0, 51, 153);
}
h1
{
	color: rgb(102, 0, 102);
}
h2
{
	color: rgb(102, 0, 102);
}
h3
{
	color: rgb(102, 0, 102);
}
h4
{
	color: rgb(102, 0, 102);
}
h5
{
	color: rgb(102, 0, 102);
}
h6
{
	color: rgb(102, 0, 102);
}
button
{
	background-color: rgb(102, 0, 102);
	color: rgb(255, 255, 255);
}
label
{
	color: rgb(0, 51, 153);
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(11, 0, 0);
}
legend
{
	color: rgb(102, 0, 102);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(102, 0, 102);
}
th
{
	color: rgb(0, 51, 153);
}
.mstheme-bannertxt a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-bannertxt a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-bannertxt a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-bannertxt-g
{
	font-family: Century Gothic, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-bannertxt-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-bannertxt-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-bannertxt-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-bannertxt-s
{
	font-family: Century Gothic, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-bannertxt-s a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-bannertxt-s a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-bannertxt-s a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-horiz-navtxt a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-horiz-navtxt a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-horiz-navtxt a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-horiz-navtxt-g
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-horiz-navtxt-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-horiz-navtxt-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-horiz-navtxt-gs
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt-gs a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-horiz-navtxt-gs a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-horiz-navtxt-gs a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxthome a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxthome a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxthome a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxthome-g
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxthome-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxthome-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxthome-gs
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome-gs a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxthome-gs a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxthome-gs a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtnext a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtnext a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtnext a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtnext-g
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtnext-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtnext-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtnext-gs
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext-gs a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtnext-gs a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtnext-gs a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtprev a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtprev a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtprev a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtprev-g
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtprev-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtprev-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtprev-gs
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev-gs a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtprev-gs a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtprev-gs a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtup a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtup a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtup a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtup-g
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtup-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtup-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-navtxtup-gs
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup-gs a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-navtxtup-gs a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-navtxtup-gs a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-topbar-font a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-topbar-font a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-topbar-font a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-topbar-font-g
{
	font-family: Arial, Helvetica;
	color: rgb(51,0,153);
	font-size: 8pt;
}
.mstheme-topbar-font-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-topbar-font-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-topbar-font-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-vert-navtxt a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-vert-navtxt a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-vert-navtxt a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-vert-navtxt-g
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt-g a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-vert-navtxt-g a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-vert-navtxt-g a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme-vert-navtxt-gs
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt-gs a:link
{
	color: rgb(153, 0, 255);
}
.mstheme-vert-navtxt-gs a:active
{
	color: rgb(153, 204, 255);
}
.mstheme-vert-navtxt-gs a:visited
{
	color: rgb(51, 102, 255);
}
.mstheme { top-bar-button: url(bluglob.gif); navbutton-background-color: rgb(255,255,255);  } .mstheme-topbar-font { font-family: Arial, Helvetica; color: rgb(51,0,153); font-size: 8pt;  } body { font-family: Times New Roman; background-image: url('blutextb.gif'); font-style: normal; text-align: none; font-weight: normal; vertical-align: none  } button { border-top-style: solid; border-bottom-width: 1pt; border-left-width: 1pt; border-top-width: 1pt; border-right-width: 1pt; font-family: Arial, Helvetica; font-style: normal; border-bottom-style: solid; border-left-style: solid; border-right-style: solid; font-size: 8pt;  } caption { font-size: 14pt; font-family: Century Gothic, Arial, Helvetica; font-style: normal;  } fieldset { border-left-style: solid; border-bottom-width: 1pt; font-family: Arial, Helvetica; font-size: 8pt; border-top-width: 1pt; border-right-style: solid; border-left-width: 1pt; font-style: normal; border-right-width: 1pt; border-bottom-style: solid; border-top-style: solid;  } h1 { font-family: Arial; font-style: normal; vertical-align: none; font-weight: normal; text-align: none; font-size: 24pt;  } h2 { font-style: normal; vertical-align: none; font-size: 18pt; font-weight: normal; text-align: none; font-family: Arial;  } h3 { font-weight: normal; font-style: normal; font-size: 14pt; vertical-align: none; text-align: none; font-family: Arial;  } h4 { font-size: 12pt; font-weight: normal; font-style: normal; text-align: none; font-family: Arial; vertical-align: none;  } h5 { text-align: none; font-family: Arial; font-size: 10pt; vertical-align: none; font-weight: normal; font-style: normal;  } h6 { text-align: none; font-family: Arial; vertical-align: none; font-weight: normal; font-style: normal; font-size: 8pt;  } label { font-style: normal; font-size: 8pt; font-family: Arial, Helvetica;  } label, .mstheme-label { font-style: normal; font-family: Arial, Helvetica; font-size: 8pt;  } legend { font-style: Normal; font-family: Century Gothic, Arial, Helvetica; font-size: 8pt;  } marquee { font-size: 14pt; font-family: Century Gothic, Arial, Helvetica;  } select { border-style:solid; font-style: normal; font-size: 8pt; font-family: Arial, Helvetica;   } table { font-weight: normal; font-family: Times New Roman; text-align: none; font-style: normal; vertical-align: none;  } textarea { border-style:solid; font-style: normal; font-family: Arial, Helvetica; font-size: 8pt  } th { font-style: normal; font-family: Century Gothic, Arial, Helvetica;  } 